*{
  margin: 0;
  padding: 0;
}

.evento img{
  width: 500px;
  border-radius: 35px;
}

.evento{
  display: flex;
  justify-content: space-around;
  padding: 30px;
  align-items: center;
}

.galeria img{
  width: 50vw;
  height: 400px;
  object-fit: cover;
}

.galeria{
  padding: 50px;
  flex-direction:column-reverse;
  align-items: center;
}

header img{
filter: invert(0%);
width: 150px;
padding: 50px;
}
@media screen and (max-whidth:400px) {
header{
  display: flex;
  justify-content: center;
}
  }

header{
  background-color: midnightblue;
}

@media screen and (max-whidth:400px) {
  .evento{
flex-direction: column;
gap: 10px;
  }
  
}

footer{
background-color: midnightblue;
color: aliceblue;
font-size: larger;
font-family: 'Courier New', Courier, monospace;

}

